* {
  box-sizing:border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.characters {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
/* #9E9E9E */
.character {
  /* border: 1px solid #3C3E44; */
  background: #3C3E44;
  color: white;
  border-radius: 6px;
  display: flex;
  flex: 0 40%;
  margin: 10px;
  text-align: left;
}

.character__image {
  height: 300px;
}

.character__image > img {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.character__details {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 0 10px;
}